
EnglishSupporter/target/m2e-wtp/web-resources/META-INF/MANIFEST.MF
EnglishSupporter/target/m2e-wtp/web-resources/META-INF/maven/com.scit6jo/web/pom.properties

patch.diff
EnglishSupporter/.settings/org.eclipse.core.resources.prefs
.project
EnglishSupporter/target/m2e-wtp/web-resources/META-INF/maven/com.scit6jo/web/pom.properties
EnglishSupporter/target/m2e-wtp/web-resources/META-INF/MANIFEST.MF

/.metadata/
EnglishSupporter/target/m2e-wtp/web-resources/META-INF/maven/global.sesoc/test/pom.properties
