<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.scit6jo.web.admin.dao.MessageMapper">
	<sql id="basicCols">
		messageNum
		, userid
		, nickname
		, receiveId
		, message
		, to_char(regdate, 'YYYY-MM-DD') as regdate
		, status
	</sql>
	
	<!-- 메세지 보내기 -->
	<insert id="sendMsg" parameterType="Message">
		insert into
			message(
				messagenum
				, userid
				, nickname
				, receiveid
				, message)
		values(
			message_seq.nextVal
			, #{userid}
			, #{nickname}
			, #{receiveId}
			, #{message})
	</insert>
	
	<!-- 읽지 않은 메세지 요청 -->
	<select id="unReadMsg" parameterType="string" resultType="Message">
		select
			<include refid="basicCols"/>
		from
			message
		where
			receiveid = #{value}
		and
			status = 0
	</select>
	
	<!-- 모든 메세지 리스트 요청 -->
	<select id="selectAll" parameterType="string" resultType="Message">
		select
			<include refid="basicCols"/>
		from
			message
		where
			receiveid = #{value}
	</select>
	
	<!-- 메세지 읽음 처리 -->
	<update id="readMsg" parameterType="int">
		update
			message
		set
			status = 1
		where
			messagenum = #{value}
	</update>
</mapper>
